<button type="button" (click)="navigateToCreate()" class="button">Add task</button>

<ul class="task-list" >
  <li class="task-item" appHighlight="red" *ngFor="let task of tasks$ | async" (click)="navigateToTask(task.id)">
    title: {{task.name | kebabCase}}
    <br>
    id: {{task.id}}

    <div>
       <button type="button" class="button" (click)="navigateToEdit(task.id)">Edit</button>
       <button type="button" class="button" (click)="deleteTask(task.id, $event)">Delete</button>
    </div>
  </li>
</ul>
