<p>task-list works!</p>

<!--<app-task-form (onTaskAdded)="addTask($event)"></app-task-form>-->
<app-task-form></app-task-form>

<ul class="task-list" >
<!--  <li class="task-item" appHighlight color="red" *ngFor="let task of tasks" (click)="selectTask(task)">-->
<!--  <li class="task-item" appHighlight="red" *ngFor="let task of tasks" (click)="selectTask(task)">-->
  <li class="task-item" appHighlight="red" *ngFor="let task of tasks$ | async" (click)="selectTask(task)">
    {{task.name | kebabCase}}
  </li>
</ul>

<app-task-detail [selectedTask]="selectedTask"></app-task-detail>
